* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#menu-nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 12px 48px;
  background-color: skyblue;
}

#nav-list {
  display: flex;
  width: 30%;
  justify-content: space-around;
}